<nav class="navbar navbar-expand-sm navbar-dark sticky-top" id="nav">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <span class="align-middle">aws1313</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavBar" aria-controls="mainNavBar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse align-middle" id="mainNavBar">
            <ul class="navbar-nav me-auto sm-2 mb-sm-0 ">
                {% for item in site.data.navigation %}
                    <li class="nav-item "><a class="nav-link align-middle {% if page.url == item.link %}active{% endif %}"  href="{{ item.link }}">{{ item.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>