<!doctype html>
<html lang="de" data-bs-theme="dark">
<head>
  <link rel="stylesheet" href="/css/main.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-icons.css">
</head>
<body style="height: 100vh">

<div class="d-flex flex-column justify-content-between" style="height: 100%">
  <div>
      {% include navigation.html %}
    {{ content }}
  </div>
  {% include footer.html %}
</div>

<script src="/js/bootstrap.bundle.min.js"></script>

</body>
</html>